<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title></title>
</head>
<body>
<h1>Hello, <%= @user.first_name %> <%= @user.last_name %>!</h1>
<p>
  You have <%= @event.name %> on <%= @event.starts_at %>.
  See all information on our website.
</p>
<p>Have a great day!</p>
</body>
</html>
