<%= search_form_for @search_result, html: { autocomplete: 'off' } do |f| %>
  <div class="d-flex">
    <%= f.search_field :name_cont, placeholder: "Event Name", class: "form-control me-2" %>

<!--      <div>-->
        <%#= f.label :category_id_eq %>
        <%#= f.select :category_id_eq, options_for_select(current_user.categories), include_blank: true %>
        <%#= f.select :category_eq, current_user.categories, include_blank: true %>
<!--      </div>-->
    <%= f.submit 'Search', class: "btn btn-dark" %>
  </div>
<% end %>
