<h1>Categories</h1>

<div>
  <ul>
    <%= render @categories %>
  </ul>
  <% if @pagy.pages > 1 %>
    <div>
      <%== pagy_nav(@pagy) %>
      <%== pagy_info @pagy %>
    </div>
  <% end %>
</div>
<br>
<%= link_to "Add Category", new_category_path %>
